// Variables of custom 
// kl+
// =================================================

//@import "Muse.styl";

//kl+ new,参见
//当屏幕宽度 < 1600px
$content-desktop                = 900px;
//当屏幕宽度 >= 1600px
$content-desktop-large          = 900px;
$content-desktop-largest        = 900px;

$content-desktop-padding        = 40px;
$content-tablet-padding         = 10px;
$content-mobile-padding         = 8px;

// Sidebar
// --------------------------------------------------
$sidebar-nav-hover-color          = $orange;
$sidebar-highlight                = $orange;


//$toc-link-color                       = $grey-dim;
//$toc-link-border-color                = $grey-light;
//$toc-link-hover-color                 = black;
//$toc-link-hover-border-color          = black;
$toc-link-active-color                = $sidebar-highlight;
$toc-link-active-border-color         = $sidebar-highlight;
$toc-link-active-current-color        = $sidebar-highlight;
$toc-link-active-current-border-color = $sidebar-highlight;
